@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins-extralight-webfont.woff2) format("woff2");
  src: url(../fonts/poppins-extralight-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins-regular-webfont.woff2) format("woff2");
  src: url(../fonts/poppins-regular-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins-semibold-webfont.woff2) format("woff2");
  src: url(../fonts/poppins-semibold-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}
